body {
    font-family: Arial, sans-serif;
}

button {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

#boton_ejercicio1 {
    background-color: #FF00FF;
    color: #fff;
}
#boton_calcular {
    background-color: #1E90FF;
    color: #fff;
    width: 100px;
    height: 50px;
}
#boton_ejercicio2 {
    background-color: #7FFF00;
    color: #fff;
}
#boton_verificar {
    background-color: #1E90FF;
    color: #fff;
    width: 100px;
    height: 50px;